PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/clinical_trial_matcher?retryWrites=true&w=majority&appName=<cluster-name>
OPENAI_API_KEY=<your_openai_api_key>
GROQ_API_KEY=<your_groq_api_key>
COHERE_API_KEY=<your_cohere_api_key>
